body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: rgb(0,92,199);
  background: linear-gradient(38deg, rgba(0,92,199,1) 0%, rgba(202,0,254,1) 100%); 
  animation: gradientBG 15s ease infinite;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  margin-top: 6em;
  padding: 20px;
  box-sizing: border-box;
  background: rgba( 75, 75, 75, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

h1 {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-box {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 25px;
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

.search-input {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.game-box {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  max-height: 70vh;
  overflow-y: auto;
}
#gameList{
  overflow-y: auto;
  max-height: 500px;
}
.game-item{
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  width: 93%;

  background: rgba(36, 36, 36, 0.25);
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );  

}

.game-item a{
  text-decoration: none;
  color: white;
  flex-grow: 1;
  display: flex;
  align-items: center; /* Ajoutez cette ligne */

}

.game-item.show {
  opacity: 1;
  transform: translateY(0);
}

.game-item:hover {
  background-color: #f0f0f0;
}

.game-image {
  width: 120px;
  object-fit: cover;
  margin-right: 1rem;
}


body {
  --sb-track-color: #322333;
  --sb-thumb-color: #ae6baf;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 3px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 1000;

  background: rgba( 0, 0, 0, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
}

.navbar-logo .logo {
  height: 40px;
  scale: 1.8;

}

.navbar-links {
  list-style-type: none;
  display: flex;
}

.navbar-links li {
  margin-left: 1rem;
}

.navbar-links a {
  text-decoration: none;
  color: white;
}